<!DOCTYPE html>
<html>
    <head lang="en">

        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

    </head>

    <body>

    <div class="container-fluid">
        <h1>Edge Microservice Deployment F/W</h1>

        <h3 class="panel-title">Publish MQTT Message</h3>
        <label class="control-label col-xs-4">Topic: </label>
        <input id="topic" class="form-control" readonly>

        <label class="control-label col-xs-4">Device: </label>
        <select id="pubDevice" class="form-control" onchange=" changeSelect()"></select>

        <label class="control-label col-xs-4">Message: </label>
        <select id="message" class="form-control" onchange=" changeMsg()">
            <option value="status">status</option>
            <option value="pull">pull</option>
            <option value="images">images</option>
            <option value="stop">stop</option>
            <option value="remove">remove</option>
            <option value="run">run</option>
        </select>
        <label class="control-label col-xs-4">Add Message: </label>
        <input id="optionMessage" class="form-control" >

        <button id="publish" class="btn btn-primary">Publish</button>


        <h3 class="panel-title">Subscribe MQTT Messages</h3>


        <label class="control-label col-xs-4">Topic:</label>

        <input id="subscribe_topic" class="form-control" readonly>

        <button id="subscribe" class="btn btn-primary">Subscribe</button>
        <button id="unsubscribe" class="btn btn-default" style="display: none;" >Unsubscribe</button>


        <label class="control-label col-xs-4">Messages:</label>

        <textarea id="subscribe_messages" class="form-control" rows=10></textarea>



        <h3 class="panel-title">Register Ochestration Device</h3>

        <label class="control-label col-xs-4">Device Number: </label>

        <input id="deviceNum" class="form-control" required readonly>

        <label class="control-label col-xs-4">Waiting Queue: </label>
        <select id="regQueue" class="form-control" onchange="changeQueueSelect()">

                                            </select>


        <label class="control-label col-xs-4">hostname: </label>

        <input id="hostname" class="form-control" required readonly>

        <label class="control-label col-xs-4">OS: </label>
        <input id="osname" class="form-control" required readonly>

        <label class="control-label col-xs-4">the number of cpus: </label>
        <input id="cpus" class="form-control" required readonly>

        <label class="control-label col-xs-4">Ip Address: </label>
        <input id="ipAddr" class="form-control" required readonly>

        <button id="register" class="btn btn-primary">Register</button>

    </div>
    </body>
</html>
