@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inconsolata&family=Roboto+Slab&display=swap');
/*///////////////////////////////////*/

body, html {
	height: 100%;
	font-family: 'Roboto Slab','PT Sans', sans-serif;
}

#registerArea{
  position: relative;
  bottom: 430px;
  

}

#subscribe_messages{
  /* background-color: rgb(17, 16, 16);
  color: white; */
  background-color: white;
  font-family:  'Abel', sans-serif;
  color: black;
  font-size: 12px;
}

#deviceListArea{
  bottom: 428px;
}

.btn{
  background-color: grey;
  border-color: grey;
  color: white;
}

.btn:hover{
  background-color: white;
  border-color: grey;
  color: black;
}